<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <title>登录</title>
    <meta name="viewport" http-equiv="Content-Type" content="text/html; charset=UTF-8;width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/zhiyuan.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/ie-emulation-modes-warning.js"></script>



</head>
<body style="background-color: #f5f4f8;text-align:center">
<div style="height: 100px;background-color: white">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
        <div style="display: inline-block;margin-top: 20px">
            <a href="/">
                <img src="/images/logo2.png" height="80" width="358"/>
            </a>
        </div>
        <div th:if="${session.loginUser != null}" style="text-align: center; width: 80px;height: 40px;display: inline-block;border: 1px solid #ddd;padding: 0px 9px;">
            <h5 th:text="${session.loginUser.userarea}" style="display: inline-block"></h5>
            <h5 class="glyphicon glyphicon-map-marker" style="color: #2e6da4; display: inline-block"></h5>
        </div>
        <div style="display: inline-block;float: right; margin-top: 20px">
            <a href="/vipUser">
                <button class="vipbutton"> 加入VIP</button>
            </a>
        </div>
    </div>
</div>
<div>
    <div class="tou">
        <div class="mynav">
            <ul>
                <li><a href="/">首页</a>
                </li>
                <li><a>填志愿</a>
                    <ul id="one" >
                        <!-- 生成绝对定位的元素，方便修改下拉框的位置 -->
                        <li><a href="/school">找大学</a></li>
                        <li><a href="/profession">查专业</a></li>
                        <li><a href="/scoreline">批次线</a></li>
                        <li><a href="/simulation">填报推荐</a></li>
<!--                        <li><a href="/userBasicInformation">一键填报</a></li>-->

                    </ul>
                </li>
                <li><a href="#">视频课堂</a>
                    <ul id="two" >
                        <!-- 生成绝对定位的元素，方便修改下拉框的位置 -->
                        <li><a href="#">高校课堂</a></li>
                        <li><a href="#">专业课堂</a></li>

                    </ul>
                </li>
                <li><a href="/highSearch">高级搜索</a>
                </li>
                <li th:if="${session.loginUser != null}" >
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span  th:text="${session.loginUser.username}+'&nbsp;'+'同学'"></span>
                    </a>
                    <ul id="three" >
                        <li><a href="/front/logout">退出登录</a></li>
                    </ul>
                </li>
                <li th:if="${session.loginUser == null}" >
                    <a href="/front/login">登录</a>
                </li>
            </ul>
        </div>
    </div>
    <div style="width: 600px;margin:0 auto;margin-top: 50px">
        <div  style="margin-top: 85px">
            <form action="/front/addlogin" name="loginfrom" role="form" method="post" class="form-signin" accept-charset="utf-8">
                <h4 class="form-signin-heading">输入你的用户名和密码进行登录：</h4>
                <label class="sr-only" for="username">用户名</label>
                <input type="text" name="username" placeholder="用户名..."  class=" form-control" id="username" required autofocus>
                <label class="sr-only" for="password">密码</label>
                <input type="password" name="password" placeholder="密码..."  class="form-control" id="password" required>
                <div style="text-align:center;vertical-align:middle;width: 100%">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">登录</button>
                    <h4 th:text="${msg}"></h4>
                    <input type="button" value="注册" class="btn btn-lg btn-primary btn-block" onClick="location.href='/front/register'"/>
                </div>
            </form>
            <div>
                <a href="/front/sendcode">手机验证登录</a>
            </div>
        </div>
    </div>
</div>
<!--<script>-->
<!--    $("input[type='button']").click(btnCheck);-->
<!--    /**-->
<!--     * [btnCheck 按钮倒计时常用于获取手机短信验证码]-->
<!--     */-->
<!--    function btnCheck() {-->
<!--        $(this).addClass("on");-->
<!--        var time = 60;-->
<!--        $(this).attr("disabled", true);-->
<!--        var timer = setInterval(function() {-->
<!--            if (time == 0) {-->
<!--                clearInterval(timer);-->
<!--                $("input[type='button']").attr("disabled", false);-->
<!--                $("input[type='button']").val("获取验证码");-->
<!--                $("input[type='button']").removeClass("on");-->
<!--            } else {-->
<!--                $('input[type=\'button\']').val(time + "秒");-->
<!--                time&#45;&#45;;-->
<!--            }-->
<!--        }, 1000);-->
<!--    }-->
<!--</script>-->
<script src="/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>